{% extends 'base.html.twig' %}

{% block title %} Catégorie {{ category.name }}{{ parent()}}{% endblock %}

{% block header %}
        {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
        <h1>Toutes les séries de la catégorie {{ category.name }} : </h1>
        {% for program in programs %}
                <h3>{{ program.id }} / <a href="{{ path("program_show", { programId: program.id }) }}">{{ program.title }}</a></h3>
                <p>{{ program.summary }}</p>
                <p>Catégorie : {{ program.category.name }}</p>
        {% else %}
                Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}
