{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - Saison {{ season.number }}{{ parent()}}{% endblock %}

{% block header %}
    {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}

<div class="media">
    <div>
        {% for episode in episodes %} <br>
            Episode : {{ episode.number }} <br>
            Titre : {{ episode.title }} <br>
            Synopsis : {{ episode.synopsis }} <br>
        {% endfor %}
    </div>
</div>
<br>
<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>

{% endblock %}
