{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - Saison {{ season.number }}{{ parent()}}{% endblock %}

{% block header %}
    {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}

<div class="media">
    <div>
        <h1>{{ program.title }}</h1>
        <h2>Saison {{ season.number }}</h2>
        {% for episode in episodes %} <br>
            <h3><a href="{{ path('program_episode_show', {episodeId: episode.id, seasonId: season.id, programId : program.id}) }}">Épisode {{ episode.number }}</a></h3>

        {% endfor %}
    </div>
</div>
<br>
<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>

{% endblock %}
